<!-- file : P06-jinja-1.html -->

<!DOCTYPE html>
<html>
    <head>
        <title>Contoh template Jinja2 pertama</title>
    </head>
    <body>
        <h2>Contoh template dengan Jinja2</h2>
        <strong>Nilai Variabel dengan Template</strong>
        <p>
            str_var berisi = {{ str_var }} <br>
            int_var berisi = {{ int_var }} <br>
            float_var berisi = {{ float_var }} <br>
            list_var berisi = {{ list_var }} <br>
            dict_var berisi = {{ dict_var }} <br>
            model.hitungLuas() = {{ model.hitungLuas() }} <br>
            model.hitungKeliling() = {{ model.hitungKeliling() }} <br>
        </p>
    </body>
</html>
