<!-- file : P06-jinja-3.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>Contoh Template dengan Jinja2 Ketiga</title>
    </head>
    <body>
        <h2>Contoh Penggunaan Percabangan pada Jinja2</h2>
        Nilai a = {{ a }} <br>
        {# memeriksa nilai a #}
        {% if a < 0 %}
            {{ a }} adalah bilangan negatif.
        {% elif a == 0 %}
            {{ a }} adalah sama dengan nol.
        {% else %}
            {{ a }} adalah bilangan positif.
        {% endif %}
    </body>
</html>